* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
    background: rgba(4, 4, 4, 0.9);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

/* Modüllerin Genel Yapısı (Hap Görünümü) */
#clock,
#custom-omarchy,
#tray,
#workspaces,
#mpris,
#custom-update,
#network,
#pulseaudio,
#battery,
#custom-power {
    background: alpha(#101010, 0.6); /* Yarı saydam koyu arkaplan */
    border-radius: 16px;
    padding: 4px 10px;
    margin: 4px 3px;
    font-weight: bold;
}

/* Çalışma Alanları (Workspaces) Özel Ayarları */
#workspaces {
    background: alpha(#101010, 0.6);
    padding: 0px 5px;
}

#workspaces button {
    padding: 0px 5px;
    background: transparent;
    color: white;
    border-radius: 16px;
    margin: 4px 2px;
    transition: all 0.3s ease;
}

/* Aktif Çalışma Alanı (Beyaz Hap) */
#workspaces button.active {
    background-color: alpha(#ffffff, 0.9);
    color: #101010;
    min-width: 20px;
    border-radius: 16px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Sağ taraftaki modüllerin ince ayarı */
#custom-power {
    padding-right: 12px;
    color: #cf6a4c;
}

#pulseaudio {
    color: #8f9d6a;
}

#clock {
    color: #5de4c7;
}